/****** General ***********/ /***code de OC  **/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0; /***ajout de ceci pour que border-topi(barre bleue) se colle en haut****/
}

.main-container {
  /***Code de base de OC***/
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}
/**Fin code OC**/

/****1er header****/
#header {
  display: flex;
  justify-content: space-between;
}

#title-header {
  display: flex;
  column-gap: 69px;
  margin-right: 50px;
}

#header nav a {
  padding-top: 16px; /***fait descendre la nav hebergement et activites plus bas pour voir la barre bleue au-dessus***/
}

#header nav a :hover {
   padding-top: 12px;
}

#logo-booki {
  height: 19px;
  margin: 30px 0px;
}

#blue {
  color: #0065fc;
}

#blue:hover {
  color: #0065fc;
     /*permet à hébegements de ne plus sauter*/
}

.border-topi:hover {
  border-top: 3px solid;
  color: #0065fc;
}

.border-topi[data-active="true"] {
  border-top-color: #0065fc;
}

#black {
  color: black;
  padding-right: 30px;
  padding-left: 20px;
}

#black:hover {
  padding-top: 14px;  /*permet à activités de ne plus sauter*/
}

header nav a {
  color: #0065fc;
  text-decoration: none; /*supprime les traits en dessous*/
}

/*********************************1ére section************************************/

.searchHeader {
  /***voir si necessaire***/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#find {
  margin-bottom: 5px;
}

.center {
  margin-top: 0;
}

/***** 1ére section Logo gps/input Marseille, France/button*****/

.searchForm {
  display: flex; /****imput-search flex :1 en version mobile, prend toute la largeur****/
  max-width: 100%;
}

.fas.fa-map-marker-alt {
  background-color: #f2f2f2;
  padding: 1rem 1.25rem;
  border-radius: 15px 0 0 15px;
  text-align: center;
}

.input-search {
  border-right: none;
  border-left: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  padding: 0 1.25rem; /*Deplace Marseille vers le centre*/
  box-sizing: border-box; /*Deplace rechercher vers la gauche*/
  width: 12rem; /*longueur border radius*/
  font-size: 1rem;
  font-weight: bold;
}

.input-search:focus {
  /***Imput-search au click***/
  outline: none;
} /***Les contours CSS d'outline se situent après la bordure, permet de les faire disparaître***/

.input-search::placeholder {
  /***placeholder = texte Marseille France****/
  font-size: 1rem;
  color: black;
}

.button-search {
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 20px 20px 0;
  padding: 0 1.25rem;
  font-size: 1rem;
  cursor: pointer;
  display: block;
}

.loupe {
  /***loupe****/
  width: 49px;
  border-radius: 15px;
  display: none; /***dispalay-none pour qu'ele disparaisse en version desktop et display block en version mobile pour la faire apparaitre***/
  right: 0;
  background-color: #0065fc;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}

/***********************search filters********************/
.searchFilters {
  display: flex;
  align-items: center; /*Aligne tout*/
  max-width: 100%;
  margin-top: 2%; /*espace avec Marseille*/
}

.margin-fasfa {
  /*n'existe plus à verifier*/
  display: flex;
  justify-content: flex-start;
}

.fasfa {
  display: flex;
  align-items: center;
}

.fas.fa-money-bill-wave,
.fas.fa-child,
.fas.fa-heart,
.fa-sharp.fa-solid.fa-fire {
  display: flex;
  align-items: center;
  color: #0065fc;
  cursor: pointer;
  justify-content: center; /*centre logo money*/
  position: relative;
  left: 32px; /*Permet de placer le logo à la bonne place*/
}

.eco,
.familial,
.romantique,
.pepites {
  display: inline-flex; /*Déplace le mot economique au centre */
  max-width: 100%;
  cursor: pointer;
  align-items: center;
  border-radius: 30px;
  border: #f2f2f2 0.2rem solid;
  padding-left: 40px; /*marge à l'interieur des border-radius*/
  height: 49px;
  font-size: 1rem; /*epaisseur caractere*/
  font-weight: bold; /*graisse utilisée pour le texte*/
}

.eco:hover,
.familial:hover,
.romantique:hover,
.pepites:hover:hover {
  background-color: #deebff;  /*ne pas mettre de border ici car fait bouger les filtres*/
}

.eco {
  width: 8rem; /*longueur border-radius*/
}
.familial {
  width: 7rem;
}
.romantique {
  width: 8rem;
}
.pepites {
  width: 7rem;
}

/*info-people plus dee 500 logements*/
.info-people {
  display: flex;
}

.fas.fa-info {
  color: #0065fc;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-bottom: #f2f2f2 0.3rem solid;
  border-top: #f2f2f2 0.3rem solid;
  border-left: #f2f2f2 0.3rem solid;
  height: 2rem;
  width: 2rem;
  min-height: 2rem; /*De min-height à min-width fait un cercle*/
  min-width: 2rem;
  border: solid 1px #d9d9d9; /*Contour du cercle*/
  border-radius: 100%; /*Pour faire le cercle*/
  margin: 0;
  height: 2rem;
}

.nombre {
  display: inline-flex; /*necessaire pour que la phrase reste bien à sa place en version mobile"*/
  margin-left: 0.5%;
}

/*Code fourni par OC = aside*/
.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 13px;
}

.tarif1 {
  font-size: 13px;
  margin: 0;
}

.euro {
  font-weight: 700;
}

.fa-xs.fa-solid.fa-star.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/ /**Fourni par OC**/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  /**Fourni par OC***/
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  /**Fourni par OC***/
  width: 65%;
}

/******************************Deuxiéme section hébergements à Marseille*************************************/
/* Trois premiéres images horizontales*/

.row-location {
  display: flex;
  flex-direction: row; /*Defini automatiquement, se mettent a coté horizontalement*/
  margin: auto;
  align-items: flex-start; /*positionne en haut du container*/
  justify-content: space-between; /*espace*/
}

.hosting {
  width: 29%;
  margin-top: 33px;
  cursor: pointer;
  background: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.hosting-img {
  border-radius: 20px 20px 0 0;
  cursor: pointer;
  height: 100px;
  object-fit: cover; /*Façon dont l'image s'adapte à son conteneur*/
  width: 100%;
}

.padding-left {
  padding-left: 15px;
}

.more {
  font-size: 1.2em;
  margin: auto;
  margin: 0;
  padding: 20px;
}
.ancre {
  color: black;
  text-decoration: none;
  display: block;
}

/************************** Populaires 3éme section aside fourni par OC ***************************/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}
/*Fin copde fourni par OC*/

/***************************Quatriéme section et derniére section, activites Marseille*****************************/
/* Les quatre images horizontales ont une taille identique.*/
.activites-marseille {
  margin-top: 35px;
  padding: 20px;
}

.activity {
  /**Englobe tout le bloc avec les 4 images **/
  display: flex;
  justify-content: space-between; /*Espacement identique*/
  padding-bottom: 3px;
  width: 100%;
  align-items: stretch;
}

.bloc {
  width: 25%;
}

.port-pomegues-calanques-garde {
  width: 90%;
  margin: 5%;
  cursor: pointer;
  border-radius: 30px;
  background: white;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  padding-bottom: 1%;
}

.les-quatre-img-activités-Marseille {
  border-radius: 20px 20px 0 0;
  cursor: pointer;
  height: 470px;
  object-fit: cover; /*Façon dont l'image s'adapte à son conteneur*/
  width: 100%;
}

.title {
  padding-left: 5%;
}

/***********************************FOOTER*************************************/
footer {
  display: flex;
  margin-top: 4%;
  background-color: #f2f2f2;
}

.contenu-footer {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.bloc-footer-info {
  display: block;
  height: fit-content; /*la + gde des valeurs entre la hauteur minimale intrinseque preferee et la hauteur dispo*/
  width: 26%;
  margin: 0;
  padding: 7px 70px 7px 20px;
}

.ancrebis2 {
  color: black;
  text-decoration: none;
  /* line-height: 1.9;*/
  display: block;
}
/***Fin footer***/





