/* Small devices (phones, less than 768px) *//***************mobile*******************/
@media (max-width: 767.98px) {
    /* ... */ /*fin code fourni par OC*/
  
    body {
      margin-left: 0;
      margin-right: 0;
    }
  
    .main-container {
      /*code de oc ds desktop ici j'enléve les marges blanches sur les cotés*/
      padding: 0 0px;
    }
    /***1er header***/
    #header {
      flex-direction: column;
    }
  
    #logo-booki {
      margin: 30px auto;
    }
  
    #title-header {
      column-gap: unset; /*permet de définir la taille des espaces (gouttières) entre les colonnes unset=valeur initiale*/
      width: 100%;
    }

    #blue {
      border-top: none;
    }

    .border-topi {
      border-top: none;
     /* border-bottom: 3px solid #0065fc;*/
      padding-bottom: 10px;
     width: 70%;
      text-align: center;
      margin: 0px;
      padding-top: 0px;
    }

    #black {
      border-top: none;
    }

    .border-topi:hover {
     border-bottom: 3px solid #0065fc;
     padding-bottom: 10px;
    }
  
    .border-topi[data-active="true"] {
      border-top: none;
      width: 50%;
      text-align: center;
      margin: 0px;
    }

    .border-topi[data-active="true"]:hover {  /*Ainsi le trtait en dessous est gris et non pas bleu*/
      border-bottom: 3px solid #f2f2f2;
    }
  
    .searchSection {
      padding: 0 20px;
    }
  
    .searchHeader {
      margin-top: 15px;
      width: 80%;
    }
  
    #find {
      font-size: 16px;
    }
  
    #info-people {
      margin-bottom: 0px;
      display: flex;
      align-items: center;
    }
  
    .center {
      font-size: 12px;
    }
  
    .input-search {
      flex: auto;
    }
  
    .button-search {
      /****Pour faire disparaître le boutton rechercher et faire apparaître la loupe à la place****/
      display: none;
    }
  
    .loupe {
      /****loupe****/
      display: block;
    }
  
    .fas.fa-search {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    /***************Filtres***********/
  
    .searchFilters {
      gap: 20px;
    }
  
    .filtres {
      margin-left: 15px;
      margin-bottom: 0;
      font-size: medium;
    }
  
    .fasfa {
      width: calc(50% - 10px);
      font-size: 8px;
      justify-content: center;
    }
  
    .fas.fa-money-bill-wave,
    .fas.fa-child,
    .fas.fa-heart,
    .fa-sharp.fa-solid.fa-fire {
      left: 32px;
      font-size: 15px;
    }
  
    .eco,
    .familial,
    .romantique,
    .pepites {
      font-size: 12px;
      flex: auto;
      /*padding-left: 35px;*/
    }
  
    .fas.fa-info {
      margin-right: 15px;
      display: inline-flex;
    }
  
    .nombre {
      width: 80%;
      font-size: 12px;
    }
  
    .hebergements-and-populaires {     /***flex-direction colum-reverse permet à les plus populaires d'être en haut avant hébérgement à Marseille"***/
      flex-direction: column-reverse;
    }
  
    .hebergements-and-populaires section {
      margin-bottom: 30px;
    }
  
    #white-hebergement {
      background-color: white;
    }
  
    .populaire {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  
    .populaires-cards,   /***flex-direction column = met les éléments les uns en dessous des autres***/
   .row-location,
   .activity,
   .contenu-footer {
      flex-direction: column;
      width: 96%;
    }
  
    .populaires-cards .card {
      width: 100%;
    }
  
    /*****Deuxiéme section hébergements à Marseille qui passe en dessous de l'aside en version mobile à l'aide de flex-direction column-reverse ligne 651*****/
  
    .hosting {
      width: 96%;
    }
  
    .hosting-img {
      width: 100%;
      height: 180px;
    }
  
    .more {
      padding: 0px;
    }
  
    /******Quatriéme et derniére section, activites Marseille******/
  
    .activites-marseille {
      margin-top: 0px;
      margin-left: 15px;
    }
  
    .activity {
      width: 96%;
      padding: 2%;
    }
  
    .bloc {
      width: 96%;
    }
  
    .port-pomegues-calanques-garde {
      width: 95%;
    }
  
    .les-quatre-img-activités-Marseille {
      height: 180px;
      width: 100%;
    }
  
    /***Footer***/
  
    footer {
      flex-direction: column;
      background-color: #f2f2f2;
    }
  
    .bloc-footer-info {
      width: auto; /*width permet de définir la largeur de la boîte du contenu d'un élément, auto c'est la valeur par défaut de width*/
    }
    /*fin footer*/
  }
  